<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="about.html">About</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="home.html">Home</a></li>
        </ul>
      </nav>
    </header>
    
       <p>Forced monkey labor on coconut plantations in Thailand is more widespread than previously known — and some US brands and retailers are still buying the country’s coconut milk despite grisly reports of animal abuse, according to an animal rights group.

        Government officials in Thailand — the world’s third-largest producer of coconut milk behind Indonesia and the Philippines — have previously denied that monkey slave labor is a problem. But an investigation by People for the Ethical Treatment of Animals claims that Thailand’s coconut industry has embraced the cruel practices almost entirely.
        
        “We didn’t find a single monkey-free operation in Thailand, although we actively looked for one,” said Jason Baker, PETA Asia’s senior vice president who led the investigation.
        
        PETA previously conducted two undercover investigations in Thailand beginning in 2019 that found primates are forced to pick coconuts all day with chains around their necks. The group’s probe found “cruelty to monkeys on every farm, at every monkey-training facility, and in every coconut-picking contest that used monkey labor.” </p>
  </body>
</html>
