<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>
<body>
    <h1>Welcome to the monkey kingdom</h1>
    
    <nav>
        <ul>
            <li><a href="about.html">About</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="photos.html">Photos</a></li>
          <li><a href="home.html">Home</a></li>
          </ul>  
         </nav>         
    
    <div class="first"><img src="../public/images/monkey2.png"</div>
    </div>

    
         <p>
            Monkeys are a large and diverse mammal group that includes most primates. Humans, chimpanzees (Pan troglodytes) and other apes share an ancestor with monkeys but belong to a separate group of primates that diverged from monkeys millions of years ago. Monkeys are typically smaller than apes and usually have tails, which apes lack. The monkey group doesn't include lemurs, which are another branch of the primate family tree and live in Madagascar.

There are a variety of monkeys, spread across the world, with very different lifestyles. They come in many shapes, sizes and colors, but they are all intelligent and social creatures.


         </p>
</body>
</html>