<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <title>Document</title>
     <link href="style.css" rel="stylesheet" type="text/css" />
     <script src="script.js"></script>
  </head>
  <header>
      <nav>
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="photos.html">Photos</a></li>
          <li><a href="home.html">Home</a></li>
        </ul>
      </nav>
    </header>
    <h3>working monkeys</h3>
    <p>HelloFresh said in a statement that it “strictly condemns any use of monkey labor in its supply chain,” adding that it “has written confirmation from all of our suppliers – in the US and globally – that they do not engage in these practices.”

      McCormick’s head of communications, Lori Robinson said in a statement, “We are against forced labor of any sort. Child and animal labor are strictly prohibited. Internal audits and/or risk assessments are conducted to ensure compliance, and immediate action is taken if there are violations against our code.”
      
      Grocery chains Kroger, Albertsons, and Publix banned Chaokoh coconut milk after PETA Asia previously exposed monkey labor in the brand’s supply chain. However, they all continue to sell canned coconut milk from brands that were implicated, including McCormick & Co’s Thai Kitchen coconut milk, according to PETA.</p>

    
    </form>
  </body>
</html>
